/node_modules
/public/js/app.js
/public/js/failed.js
/public/js/finished.js
/public/js/form.js
/public/js/home.js
/public/js/results.js
/public/js/voting.js
/public/js/.js
/public/css/.css
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
